# 🐍 Python / Backend
**/venv/
**/__pycache__/
*.py[cod]
backend/.env
backend/data/*.db

# 📦 JavaScript / Node (Web & Mobile)
**/node_modules/
frontend/dist/
frontend-mobile/.expo/
frontend-mobile/dist/
frontend-mobile/web-build/

# 🛠️ System / IDE
.DS_Store
.env
.vscode/